{% extends "layouts/base.html" %}

{% block content %}

  <table border="1">
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Title</th>
      <th>URL</th>
      <th>Status</th>
      <th>Ends</th>
      <th>Description</th>
      <th>Current</th>
      <th>Open</th>
      <th>Reserve</th>
      <th>Bids</th>
      <th>Business</th>
      <th>Updated</th>
    </tr>
    {% for row in data %}
      <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.image }}</td>
        <td>{{ row.title }}</td>
        <td>{{ row.url }}</td>
        <td>{{ row.status }}</td>
        <td>{{ row.ends }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.current }}</td>
        <td>{{ row.open }}</td>
        <td>{{ row.reserve }}</td>
        <td>{{ row.bids }}</td>
        <td>{{ row.business }}</td>
        <td>{{ row.updated }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
